@{
    ViewBag.Title = "FindId Page";
}

<main id="main">
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">


            <div class="row justify-content-center mt-5 mb-5">
                <div class="form mt-5 col-lg-6 ">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                        <div class="row justify-content-center">
                            <div class="col-lg-8 text-center mb-5">
                                <h1 class="page-title">Gow<br>Board</h1>
                                <br>
                                <h3 class="small-title">아이디 찾기</h3>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group text-center">
                            <h5 style="font-weight: bold; color: #756969;"> 이메일로 아이디가 전송됩니다.</h5>
                        </div>
                        <div class="text-center">
                            <div class="">
                                <button type="submit" style="width: 100%; height: 100%; font-weight: bold; font-family: serif;">아이디 찾기</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div><!-- End Contact Form -->

            <br>

        </div>


    </section>

</main><!-- End #main -->
