@{
    Layout = "~/Views/Shared/_MyPageLayout.cshtml";
    ViewBag.Title = "Withdrawal Page";
}

                <div id="sidebar-after">

                    <section id="contact" class="contact mb-5">
                        <div class="container" data-aos="fade-up">
                            <div class="row justify-content-center  mb-5">
                                <div class="col-lg-10">
                                    <div class="form ">
                                        <form action="forms/contact.php" method="post" role="form" class="php-email-form" style="padding: 100px;">

                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 text-center mb-5">
                                                    <h1 class="page-title">Gow<br>Board</h1>
                                                    <br>
                                                    <h3 class="small-title">회원 탈퇴</h3>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" name="password" id="password" placeholder="Password" required>
                                            </div>

                                            <div class="text-center ">
                                                <div class="">
                                                    <button type="submit" style="width: 100%; font-family: serif;">회원 탈퇴</button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div><!-- End Contact Form -->
                        </div>
                    </section>
                </div>

