@{
    ViewBag.Title = "Board Create Page";
}
<main id="main">
    <section id="contact" class="contact mb-5">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="site-title">Gow Board</h1>
                    <br>
                    <h3>자유 게시판</h3>
                </div>
            </div>

            <!-- start table -->
            <div class="form mt-5 php-email-form">

                <div class="form-group">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
                </div>

                <div id="editor"></div>

                <div class="text-md-end mt-5">
                    <button type="submit" class="text-md-end">취소</button>
                    <button type="submit" class="text-md-end">글등록</button>
                </div>
            </div><!-- End table -->

            <br>




        </div>


    </section>

</main><!-- End #main -->